---
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

export const getStaticPaths = (async () => {
	const projects = await getCollection('projects');
	const paths = projects.map((project) => {
		return {
			params: {
				slug: project.slug,
			},
			props: {
				project,
			},
		};
	});

	return paths;
}) satisfies GetStaticPaths;

type Props = {
	project: CollectionEntry<'projects'>;
};

const { project } = Astro.props;

const { Content } = await project.render();
---

<Layout title={project.data.title} description={project.data.description}>
	<PageLayout heading={project.data.title}>
		<ul class='flex gap-x-4 items-center justify-end'>
			<li>
				<a
					class='hover:text-blue-600 hover:underline'
					href={project.data.github}
					target='_blank'
				>
					<Icon
						class='h-10 md:h-12 w-10 md:w-12 rounded-full'
						name='mdi:github'
					/>
				</a>
			</li>
			{
				project.data?.demo && (
					<li>
						<a
							class='hover:text-blue-600 hover:underline'
							href={project.data?.demo}
							target='_blank'
						>
							<Icon
								class='h-10 md:h-12 w-10 md:w-12 '
								name='nimbus:external-link'
							/>
						</a>
					</li>
				)
			}
			{
				project.data?.backend && (
					<li>
						<a
							class='hover:text-blue-600 hover:underline'
							href={project.data?.backend}
							target='_blank'
						>
							<Icon class='h-10 md:h-12 w-10 md:w-12 ' name='mdi:database' />
						</a>
					</li>
				)
			}

			{
				project.data?.npm && (
					<li>
						<a
							class='hover:text-blue-600 hover:underline'
							href={project.data?.npm}
							target='_blank'
						>
							<Icon class='h-10 md:h-12 w-10 md:w-12 ' name='mdi:npm' />
						</a>
					</li>
				)
			}
		</ul>
		<Image
			class='w-full rounded-t-md min-h-[200px]'
			src={project.data.image}
			alt={project.data.title}
		/>
		<div class='prose-[#FFF] prose-lg w-full mt-4'>
			<Content />
		</div>
	</PageLayout>
</Layout>
